{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Hello, I am a passionate software engineering student located somewhere in Lagos.r. I relish the challenge of creating and developing software that runs .... ">

    <meta name="keywords" content="Adetayo, Adetayo.Dev,Adetayo Developer, Adetayo software, Software development, Software engineer">
    
    <meta name="robots" content="index, follow">
    
    <link rel="canonical" href="https://www.example.com/your-page-url">
    
    <meta property="og:title" content="{% block title %} Adetayo.Dev {% endblock %}">
    
    <meta property="og:type" content="website">
    
    <meta property="og:url" content="https://www.example.com/your-page-url">
    
    <meta property="og:image" content="https://www.example.com/images/your-image.jpg">
    
    <meta property="og:description" content="Hello, I am a passionate software engineering student located somewhere in Lagos.r. I relish the challenge of creating and developing software that runs .... ">
    
    <meta name="twitter:card" content="summary_large_image">
    
    <meta name="twitter:site" content="@Adetayoooo">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    {% block header %} {% include 'base/header.html' %}  {% endblock %} 
    {% block content %} {% endblock %}
    {% block footer %} {% include 'base/footer.html' %} {% endblock %}
</body>
</html>