:root {
    --bacground-white: #FCFCFC;
    --blue:#256EFF;
}

/* General styling */

/* colored text */
.colored{
    color:var(--blue)
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bacground-white);
    margin: auto;
    height: 100em;
    width: 100%;
}


header{
    width: 100%;
    padding:2% 5%;
    position: fixed;
    top: 0;
    
    display: flex;
    justify-content: space-between;

    /* From https://css.glass */
background: rgba(255, 255, 255, 0.37);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
z-index: 1;
    
}

.logo h3{
    text-transform: uppercase;
}

main {
    position: relative;
    margin-top: 10em;
}